.page-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
}

.page-404 h1 {
  font-size: 3rem;
  color: #007bff;
}